body {
    font-family: Tahoma, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
    padding: 20px;
    margin: 0;
    direction: rtl;
}

h1 {
    color: #8b0000;
}

.blog-post {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 20px auto;
    max-width: 800px;
    text-align: right;
}

.blog-post h2 {
    color: #333;
    margin: 0 0 15px 20px;
    text-align: center;
}

.blog-author {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.blog-author img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0 8px 0 10px;
    border: 2px solid #007acc;
}

.blog-author-info {
    flex-grow: 1;
}

.blog-author-info strong {
    color: #007acc;
}

p{
    direction: rtl;
}

.blog-stats {
    margin: 20px 0;
    font-size: 14px;
}

.tags {
    margin-top: 20px;
    direction: rtl;
    text-align: right;
}

.tags span {
    background-color: #007acc;
    color: white;
    padding: 5px 12px;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 14px;
    display: inline-block;
}

.actions {
    margin-top: 30px;
    display: flex;
    justify-content: right;
    gap: 15px;
    text-align: right;
}

.actions button {
    padding: 10px 20px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.actions button:hover {
    background-color: #005f99;
}

.comments {
    margin-top: 40px;
    text-align: right;
    direction: rtl;
}

.comments h3 {
    margin:0 0 20px 800px;
    color: #007acc;
}

.comment {
    background-color: #f9f9f9;
    padding: 10px;
    margin:0 0 10px 400px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.comment strong {
    color: #007acc;
}
