body {
    font-family: Tahoma, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    padding: 50px;
}
h1{
    color: #8b0000;
}
input[type="date"] {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    background-color: #008cba;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: #005f6b;
}
#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}