body {
    font-family: Tahoma, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #8b0000;
}

.form-group {
    margin: 15px 0;
    text-align: right;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    direction: rtl;
}

button {
    padding: 10px 20px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin:18px 180px 0 0;
}


button:hover {
    background-color: #005f99;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}